.container{
    width: 100%;
    display: flex;
}

.beside{
    width: 50%;
}

.my-grid{
        height: 400px;
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(4, 1fr);
        grid-template-areas:
            "u b b a"
            "d b b a"
            "t c s a";
        grid-gap: 10px;


        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        grid-template-areas:
            "u u"
            "u u"
            "d t";
            
        width: auto;
        padding: 20px;
}

.un{
    grid-area: u;
}

.du{
    grid-area: d;
}

.twa{
    grid-area: t;
}



.bgImage{
    width: 100%;
    height: 100%;
}

.articleTitle{
    margin-top: auto;
    font-size: 0.8em;
}

.outer{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}